<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<location path="~/startng/home.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>-->
  
	<system.web>
    
		<authentication mode="Forms">
			<forms loginUrl="~/login/login.aspx" defaultUrl="~/starting/home.aspx">
				<credentials passwordFormat="Clear">
					<user name="sunny" password="sunny"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
		<pages enableEventValidation="false"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
  <add name="con" connectionString="Data Source=.\sqlexpress;Initial Catalog=universityschema;Integrated Security=True"
   providerName=".NET Framework Data Provider for SQL Server" />
  <!--<add name="NetDomainConnectionString" connectionString="Data Source=HUB-SERVER\SQLEXPRESS;Initial Catalog=NetDomain;User ID=NetDomain;Password=Wel@NetD0M@!N"
   providerName="System.Data.SqlClient" />-->
  <add name="NetDomainConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=universityschema;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
